<template>
    <file-tree :items="$store.getters.fileItems" />
</template>

<script>
import FileTree from '@/components/FileTree.vue'

export default {
    components: {
        FileTree,
    },
}
</script>

<style scoped>

</style>