<template>
    <ul>
        <li v-for="(item, idx) of items" :key="idx">
            <file-item v-model="item.name" :index="idx" @delete="deleteItem(idx)" />
            <file-tree v-if="'list' in item" :items="item.list" />
        </li>
    </ul>
</template>

<script>
import FileItem from '@/components/FileItem.vue'

export default {
    components: {
        FileItem,
    },
    props: {
        items: {
            type: Array,
            default: []
        },
    },
    methods: {
        deleteItem(idx) {
            this.items.splice(idx, 1)
            this.$store.commit('setFI', [...this.$store.getters.fileItems])
        }
    }
}
</script>

<style scoped>
ul {
    list-style-type: none;
}
</style>