<template>
    <div class="wrapper">
        <div
            
            @mouseenter="mouseEnter"
            @mouseleave="mouseLeave"
        >
            <styled-input maxlength="20" v-model="modelValue" @input="updateInput" />
            <styled-button v-show="hover" @click="deleteItem">X</styled-button>
        </div>
    </div>
</template>

<script>
import StyledButton from '@/components/ui/StyledButton.vue'
import StyledInput from '@/components/ui/StyledInput.vue'

export default {
    name: 'file-item',
    props: {
        modelValue: [String, Number],
        index: Number,
    },
    components: {
        StyledButton,
        StyledInput,
    },
    data() {
        return {
            hover: false
        }
    },
    methods: {
        mouseEnter() { this.hover = true },
        mouseLeave() { this.hover = false },
        updateInput(event) {
            this.$emit('update:modelValue', event.target.value)
            this.$store.commit('setFI', [...this.$store.getters.fileItems])
        },
        deleteItem() {
            this.$emit('delete', this.index)
        },
    },
}
</script>

<style scoped>
.wrapper:hover {
    background-color: #354a5f;
    width: 192px;
    display: flex;
}
</style>