<template>
    <main-page/>
</template>

<script>

import MainPage from '@/pages/MainPage.vue'

export default {
    name: 'App',
    components: {
        MainPage
    }
}
</script>

<style>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 10px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2c3e50;
    height: 100vh;
}
</style>
