<template>
    <input :value="modelValue" @input="updateInput" class="input" type="text">
</template>

<script>
export default {
    name: 'styled-input',
    props: {
        modelValue: [String, Number]
    },
    methods: {
        updateInput(event) {
            this.$emit('update:modelValue', event.target.value)
        }
    }
}
</script>

<style scoped>
.input {
    width: 150px;
    border: none;
    padding: 10px 15px;
    background: none;
    outline: none;
    color: #ddd900;
}

.input:focus-visible {
    background: #395866;
}
</style>