<template>
    <button class="btn">
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: 'styled-button'
}
</script>

<style scoped>
.btn {
    padding: 10px 15px;
    border: 1px solid #ddd900;
    font-weight: bold;
    cursor: pointer;
    color: #ddd900;
    background: none;
}

.btn:hover {
    background-color: #ddd900;
    color: #2c3e50;
}

.btn:active {
    background-color: #2c3e50;
    color: #ddd900;
}
</style>